<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/slider.css" rel="stylesheet" />
        <link href="css/index.css" rel="stylesheet" />


        <script type="text/javascript" src="js/cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ui-bootstrap-0.7.0.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/bootstrap-slider.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/healthController.js"></script>
        <script src="app/services/healthService.js"></script>
        <script src="app/services/jsonService.js"></script>
        <script src="app/services/calculateService.js"></script>

        <title>Hello World</title>
    </head>
    <body>
        <div ng-app="HealthApp">
            <div ng-controller="HealthCtrl">
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <span class="mainHeader">Din helse</span>
                    <img src="img/ico_header_color.svg">
                </nav>
                <span class="effort">Målt bevegelse</span>
                <div class="col-xs-12"><progressbar class="progress-striped active" value="progressbarValue" type="{{progressbarType}}">{{progressbarValue}} %</progressbar></div>
                <span class="effort">Treningsinnsats</span>
                <div class="col-xs-12"><b>Ingen</b><input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/><b>Maks</b></div>

                <accordion close-others="oneAtATime">
                    <accordion-group>
                        <accordion-heading>
                            <img src="img/ico_challenge_color.svg">
                            <span>Utfordring</span>
                        </accordion-heading>
                            <div>
                                <ol>
                                    <li class="questions" ng-repeat="q in challengeQuestions">
                                        {{q.Sporsmal}}
                                    </li>
                                </ol>
                            </div>
                    </accordion-group>

                    <accordion-group>
                        <accordion-heading>
                            <img src="img/ico_foodchoice_color-01.svg">
                            <span>Mat</span>
                        </accordion-heading>
                            <div>
                                <ol>
                                    <li class="questions" ng-repeat="q in foodQuestions">
                                        {{q.Sporsmal}}
                                    </li>
                                </ol>
                            </div>
                    </accordion-group>

                    <accordion-group>
                        <accordion-heading>
                            <img src="img/ico_rested_color-01.svg">
                            <span>Utvilt</span>
                        </accordion-heading>
                            <div>
                                <ol>
                                    <li class="questions" ng-repeat="q in restedQuestions">
                                        {{q.Sporsmal}}
                                    </li>
                                </ol>
                            </div>
                    </accordion-group>

                    <accordion-group>
                        <accordion-heading>
                            <img src="img/ico_happiness_color-01.svg">
                            Lykkelig?
                        </accordion-heading>
                            <div>
                                <ol>
                                    <li class="questions" ng-repeat="q in restedQuestions">
                                        {{q.Sporsmal}}
                                    </li>
                                </ol>
                            </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>

    </body>
</html>
